.flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    section {
        width: 100%;
        max-width: 400px;
        border: solid 5px white;
        margin: 20px;


        h3 {
            background-color: white;
            padding: 20px;
            text-align: center;
            color: black;
            margin: 2px;
            font-weight: 700;
        }

        form {
            margin: 30px 0;
            padding: 0 10px;

            label {
                padding: 5px 0;
                margin-bottom: 5px;
                display: block;
                font-size: 16px;
            }
            input {
                width: 100%;
                padding: 5px 10px;
                display: block;
                margin-bottom: 10px;
            }
            input[type=submit] {
                border: white solid 2px;
                background-color: black;
                color: white;
                font-weight: 700;
                letter-spacing: 0.05em;
            }
            input[type=submit]:hover {
                background-color: white;
                color: black;
            }
        }


        h4 {
            font-size: 25px;
            margin-bottom: 10px;
            padding: 0 10px;
        }
        h5 {
            font-size: 20px;
            margin-bottom: 8px;
            padding: 0 10px;
        }
        p {
            margin-bottom: 10px;
            padding: 0 10px;
        }
        a {
            margin-bottom: 10px;
            padding: 0 10px;
            display: block;
            color: white;
        }
        a:hover {
            color: rgb(197, 81, 197);
        }
        img {
            padding: 0 10px;
            width: 100%;
        }
        button {
            margin: 10px 10px 80px 10px;
            width: 30%;
        }
        button:hover {
            background-color: rgb(197, 81, 197);
            color: white;
        }
    }
}