@media only screen and (max-width: 800px) {
    body {
        margin: 5px;

        header {
            margin-bottom: 30px;

            h1 {font-size: 30px;}
            h2 {font-size: 25px;}
        }

        .flexbox {
            width: 100%;

            section {
                margin: 5px;

                h3 {
                    font-size: 20px;
                    padding: 10px;
                }

            }
        }


        #updateDiv{
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 5px;
        }

        footer {
            margin-bottom: 30px;
        }

    }

}